  <div class="container">
    <form>
        <div class="mx-auto">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Parola chiave</label>
                    <input name="keyword" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Parola chiave (es: marketin o sviluppatore) " [(ngModel)]="keyword">
                </div>
                <div class="col-auto">
                    <button (click)="onClickButton()" type="submit" class="btn btn-primary mb-2">Ricerca</button>
                </div>
            </div>
        </div>
        
      </form>
      <p [hidden]="isHidden">Inserisci un valore per la ricerca</p>
  </div>

